#section-4 {
  max-width: 1150px;
  margin: 0 auto;
}

#section-4 .grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

/* TODO: Add responsive CSS here */
@media screen and (max-width: 1024px) {
  #section-4 .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 2rem;
  }
  #section-4 h2 {
    font-size: 1.2rem;
  }
  #section-4 p {
    font-size: 1.0rem;
  }
  #section-4 .btn.primary {
    padding: 12px 20px;
    font-size: .9rem;
  }
}