.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#chart {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    min-height: 400px;
}

#details {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
}