body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  height: 70px;
}

header h1 {
  margin: 0;
}

.leaflet-div-icon {
  background: transparent;
  border: 0px solid #666;
}

.grid {
  display: grid;
  grid-template-columns: auto 400px;
}

#details {
  border-left: 1px solid #ccc;
  padding: 20px;
  width: 100%;
}

#details .emoji {
  font-size: 100px;
}

.tag {
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 8px;
  background-color: #f0f0f0;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 10px;
}

.map-marker { 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

#map {
  width: 100%;
  height: calc(100vh - 70px);
}

#details img {
    max-width: 100%;
}