#section-5 {
  background-image: url(../images/section-5-bkg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: 20vw;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.heading-1.mega {
  color: white;
  font-size: 4rem;
}

#section-5 .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: flex-end;
  border-bottom: 1px solid white;
}

.cards {
  display: grid;
  gap: 50px;
  padding-bottom: 50px;
}

/* TODO: Add responsive CSS here */
@media screen and (max-width: 1024px) {
  .heading-1.mega {
    color: black;
    font-size: 3rem;
  }
  #section-5 {
    background: none;
    padding-top: 16vw;
  }
  #section-5 .container {
    grid-template-columns: 1fr;
    gap: .5rem;
  }
  .cards {
    gap: 20px;
  }
  .cards article {
    padding: 20px;
  }
  .large {
    font-size: 18px;
  }
  .heading-4 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .heading-1.mega {
    font-size: 2rem;
  }
  #section-5 .container {
    gap: .3rem;
  }
  .cards {
    gap: 10px;
  }
  .cards article {
    padding: 15px;
  }
  .large {
    font-size: 15px;
  }
  .heading-4 {
    font-size: 1.1rem;
  }
}