body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  margin: 2rem;
}

pre {
  background: #f6f8fa;
  padding: 1rem;
  border-radius: 6px;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
}

.track-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.track-card > * {
    margin: 0;
    margin-bottom: 0.5rem;
}

.track-card h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
}

.track-card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
}

.track-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bold {
  font-weight: bold;
}