#section-2 {
  background-image: url(../images/section-2-bkg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 400px;
}

#section-2 .heading-1 {
  text-align: center;
  padding-top: 50px;
}

#section-2 .grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

#geese {
  position: absolute;
  right: 30px;
  top: 20px;
}

/* TODO: Add responsive CSS here */
@media screen and (max-width: 1024px) {
    #section-2 .grid {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    #section-2 {
      padding-bottom: 200px;
      margin-top: 50px;
    }
    #section-2 .heading-1 {
      font-size: 2.5rem;
      padding-top: 30px;
    }
    #geese {
      right: 10px;
      top: 10px;
      width: 300px;
      height: auto;
    }
    /* TODO: Add the remaining responsive styles here */
}